<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motywacja</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="theme-switch-wrapper">
        <label class="theme-switch" for="theme-toggle">
            <input type="checkbox" id="theme-toggle">
            <div class="slider round">
                <i class="fas fa-smile"></i>
                <i class="fas fa-skull"></i>
            </div>
        </label>
    </div>
    <div class="container">
        <div class="card" id="motivationCard">
            <div class="card-inner">
                <div class="card-front">
                    <div class="card-back-pattern"></div>
                </div>
                <div class="card-back">
                    <i class="motivation-icon" id="motivationIcon"></i>
                    <p class="motivation-text">Kliknij, aby zobaczyć motywujący tekst</p>
                    <div class="text-counter" id="textCounter"></div>
                </div>
            </div>
        </div>
        <div class="author-info">
            Stworzone z <i class="fas fa-heart"></i> przez <strong><a href="https://marcin-rozmus.dev">Marcina Rozmus</a></strong>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 